body {
  margin: 0;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: #fff;
}

/* header part */

#header-inside {
  width: 1470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#container-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6px;
  margin-left: 0px;
}

img {
  width: 70px;
  height: 60px;
}

#logo-name {
  color: #0f0e17;
}

/* navigation part */

nav {
  display: flex;
  gap: 20px;
}

#nav-home {
  text-decoration: none;
  font-size: 17px;
  padding-top: 3px;
  padding-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0f0e17;
}

/* option part for asia europe and america */

.nav-options {
  font-size: 17px;
  border: none;
  background-color: transparent;
  appearance: none;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

/* hero section part */

#hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 779px;
  padding: 0px 45px;
  background-color: #14274e;
  font-family: sans-serif;
}

#inside-hero-section {
  max-width: 50%;
  padding-bottom: 45px;
}

#hero-heading {
  font-size: 70px;
  margin-bottom: 20px;
  color: #f5f5f5;
}

#hero-subheading {
  font-size: 20px;
  line-height: 1.6;
  color: #f5f5f5;
}

#contact-me {
  display: inline-block;
  margin-top: 20px;
  background-color: #ffd700;
  color: #0f0e17;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: bold;
}

#hero-image {
  width: 620px;
  height: 620px;
  border-radius: 50%;
  box-shadow:
    0 0 25px rgb(225, 225, 225, 0.6),
    0 0 60px rgb(225, 225, 225, 0.3),
    0 0 100px rgb(225, 225, 225, 0.2);
}

/* main part */

/* philippines section */
#philippines-section {
  background-color: #e0e0e0;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#philippines-title-section {
  color: #333333;
  text-align: center;
}

.article-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 20px;
}

.article-content {
  width: 450px;
}

/* need nito ma change sa white para sa ibang part ng images bg */
.article-image-black {
  width: 450px;
  height: 300px;
  border: 2px solid black;
}

.article-image-white {
  width: 450px;
  height: 300px;
  border: 2px solid white;
}

.title-links-philippines {
  color: #006994;
  text-decoration: none;
}

.paragraph-content-philippines {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #333333;
}

#japan-section {
  background-color: #0f0e17;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#japan-title-section {
  color: #e0e0e0;
  text-align: center;
}

.title-links-japan {
  color: #ffd700;
  text-decoration: none;
}

.paragraph-content-japan {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #e0e0e0;
}

#china-section {
  background-color: #e0e0e0;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#china-title-section {
  color: #333333;
  text-align: center;
}

.title-links-china {
  color: #006994;
  text-decoration: none;
}

.paragraph-content-china {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #333333;
}

#france-section {
  background-color: #0f0e17;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#france-title-section {
  color: #e0e0e0;
  text-align: center;
}

.title-links-france {
  color: #ffd700;
  text-decoration: none;
}

.paragraph-content-fance {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #e0e0e0;
}

.paragraph-content-disneyland {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #e0e0e0;
}

.paragraph-content-louvre {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #e0e0e0;
}

#spain-section {
  background-color: #e0e0e0;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#spain-title-section {
  color: #333333;
  text-align: center;
}

.title-links-spain {
  color: #006994;
  text-decoration: none;
}

.paragraph-content-spain {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #333333;
}

#italy-section {
  background-color: #0f0e17;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#italy-title-section {
  color: #e0e0e0;
  text-align: center;
}

.title-links-italy {
  color: #ffd700;
  text-decoration: none;
}

.paragraph-content-italy {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #e0e0e0;
}

#unitedstates-section {
  background-color: #e0e0e0;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#unitedstates-title-section {
  color: #333333;
  text-align: center;
}

.title-links-statueofliberty {
  color: #006994;
  text-decoration: none;
}

.paragraph-content-statueofliberty {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #333333;
}

.title-links-timesquare {
  color: #006994;
  text-decoration: none;
}

.paragraph-content-timesquare {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #333333;
}

.title-links-sanfrancisco {
  color: #006994;
  text-decoration: none;
}
.paragraph-content-sanfrancisco {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #333333;
}

#canada-section {
  background-color: #0f0e17;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#canada-title-section {
  color: #e0e0e0;
  text-align: center;
}

.title-links-niagarafalls {
  color: #ffd700;
  text-decoration: none;
}

.paragraph-content-niagarafalls {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #e0e0e0;
}

.title-links-ripleysaquarium {
  color: #ffd700;
  text-decoration: none;
}

.paragraph-content-ripleysaquarium {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #e0e0e0;
}

.title-links-whistler {
  color: #ffd700;
  text-decoration: none;
}

.paragraph-content-whistler {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #e0e0e0;
}

#mexico-section {
  background-color: #e0e0e0;
  width: 100vw;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#mexico-title-section {
  color: #333333;
  text-align: center;
}

.title-links-chichenitza {
  color: #006994;
  text-decoration: none;
}
.paragraph-content-chichenitza {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #333333;
}

.title-links-cancun {
  color: #006994;
  text-decoration: none;
}

.paragraph-content-cancun {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #333333;
}

.title-links-museosoumaya {
  color: #006994;
  text-decoration: none;
}

.paragraph-content-museosoumaya {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.6;
  min-height: 150px;
  color: #333333;
}

footer {
  padding: 10px 80px;
  border-top: 1px solid #d4cbc3;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 14px;
  color: #666;
}
